.homepage {
  padding-top: 2rem;
}

.card{
	margin-top: 16px;
	border: none;
	padding: 12px 24px;
	background-color: #22539F;
	color: white;
	border-radius: 12px;
	font-weight: 600;
	font-size: 16px;
	transition: all 0.5s ease-in-out;
}

.card:hover{
  background-color: #184088;
  color: white;
  text-decoration: none;
  transform: scale(1.1);
  border-radius: 50px;
}

.technotic {
  text-align: center;
}

.technotic img{
  width: 20vw;
}

.contributors {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.contributorsSvg {
  height: 200px;
  width: 200px;
}

.contributor_container {
	padding: 40px 20px 20px 20px;
	width: 99%;
	flex-wrap: wrap;
	justify-content: space-between;
 	align-items: center;
}

.card_item {
	padding: 5px 30px;
	width: 24%;
  	margin: auto;
	text-align: center;
}

.contributor_container .card_item:hover {
	transform: scale(1.02);
	transition: transform .3s;
	cursor: pointer;
}

.contributor_container .card_inner {
	background: linear-gradient(#22539F,#5183C5);
	border-radius: 10px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
  	gap: 20px;
	box-shadow: 5px 5px 10px 2px rgba(95, 95, 95, 0.24);
}

.contributor_container .card_item img {
	width: 120px;
	height: 120px;
	margin-bottom: 10px;
	border-radius: 50%;
	align-items: center;
	transition: transform .2s;
}

.contributor_container .card_item .featureName {
	color: #ffffff;
	font-weight: 600;
	font-size: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.contributor_container .card_item .description {
	font-size: 17px;
	font-weight: 100;
	margin: 5px 0 10px;
	word-wrap: break-word;
	color: #ffffff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.viewProfile {
	margin: 10px auto;
	width: 100px;
	height: 35px;
	background: linear-gradient(#0E2767,#00044C);
	color: #fff;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0 10px 10px hsl(225, 100%, 94%);
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
	.container .card_item {
		width: 33%;
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.container .card_item {
		width: 50%;
	}
	.wrapper .header {
		font-size: 16px;
		height: 50px;
	}
}

@media screen and (max-width: 568px) {
	.container .card_item {
		width: 80%;
		margin: auto;
	}
}

@media screen and (max-width: 320px) {
	.container .card_item {
		width: 100%;
	}
}